body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

#resize-button {
    max-width: 200px;
    height: auto;
    align-self: center;
    font-size: 32px;
}

#container {
    width: 640px;
    height: 640px;
    min-width: 0px;
    display: flex;
    flex-wrap: wrap;
    border: 5px black solid;
    align-self: center;
}

.colored {
    background-color: yellow;
}